a{
    color: red;
}

a:hover{
    color: green;
    font-weight: bold;
}

a:hover + .caixa{
    display: block;
}
a:visited{
    color: yellow;
}

a:active{
    color: pink;
}


.caixa{
    width: 100px;
    height: 100px;
    background-color: black;
    display: none;
}

.caixa:hover{
    width: 10px;
    height: 10px;
    background-color: green;
}

ul li:first-child{
    color: red;
}

ul li:last-child{
    color: blue;
}

.exemplo p:first-child{
    color: green;
}

.exemplo1 p:nth-child(5){
    color: orange;
}

