*{
    margin: 0;
    padding: 8;
}
/* Fixo ele acompanha o scroll*/
.menu{
    position:fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background: black;
}
/* Fixo ele NÃO acompanha o scroll*/
.nav{
    position:absolute;
    top: 100px;
    width: 100%;
    height: 50px;
    background: black;
    border-radius: 50px;
}